@import '../variables.css';

.headerWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: $white;
  border-bottom: 0px;
  transition: none;
  font-size: 2.5rem;
  transition: 0.3s ease all;
}

.logo:hover {
  color: #8f0909;
  border-bottom: 0px;
}

.ulist {
  display: flex;
}

.ulist {
  li {
    padding: 0 1rem 0;
    a {
      color: $white;
      border-bottom: 3px solid $red;
      transition: 0.3s ease all;
      font-size: 1.1rem;
    }
    a:hover {
      border-bottom-color: $white;
    }
  }
}

nav {
  justify-content: flex-end;
}

/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 580px) {
  .headerWrapper {
    flex-direction: column;
  }
}