.logo {
  color: #008834;
  border-bottom: 0px;
  transition: none;
  font-size: 3.5rem;
}

.logo:hover {
  color: #008834;
  border-bottom: 0px;
}

.ulist {
  display: flex;
}

.ulist li{
  padding: 0 .7rem;
}

nav {
  justify-content: flex-end;
}