<div class="rWrapper">
  <h2 class="rHeader"><span class="rTitle">Places to eat Pie in Portland</span></h2>
    <ul class="resource">
      <li><span class="red">1. </span><a href="https://www.yelp.com/biz/pacific-pie-co-portland-4?osq=pie" alt="Link to Pacific Pie Co" target="_blank" rel"author noopener noreferrer">Pacific Pie Co.</a></li>
      <li><span class="red">2. </span><a href="https://www.yelp.com/biz/prosperity-pie-shoppe-portland?osq=pi" alt="Link to Prosperity Pie Shoppe" target="_blank" rel"author noopener noreferrer">Prosperity Pie Shoppe</a></li>
      <li><span class="red">3. </span><a href="https://www.yelp.com/biz/sizzle-pie-portland-4?osq=pi" alt="Link to Sizzle Pie" target="_blank" rel"author noopener noreferrer">Sizzle Pie</a></li>
      <li><span class="red">4. </span><a href="https://www.yelp.com/biz/the-pie-spot-portland?osq=pi" alt="Link to The Pie Spot" target="_blank" rel"author noopener noreferrer">The Pie Spot</a></li>
      <li><span class="red">5. </span><a href="https://www.yelp.com/biz/virtuous-pie-portland-2?osq=pie" alt="Link to Virtous Pie" target="_blank" rel"author noopener noreferrer">Virtous Pie</a></li>
      <li><span class="red">Bonus. </span><a href="https://www.yelp.com/biz/pdx-pi-portland-4" alt="Link to PDX PI" target="_blank" rel"author noopener noreferrer">PDX PI - Private Investigation</a></li>
    </ul>
</div>
