<div class="pieWrapper">
    <h2 class="pageHeader"><span class="pieTitle">How to make a pie chart</span></h2>

    <div class="one">
        <h3>Step 1</h3>
        <ul>
            <li>— Go to a store that sells pies</li>
            <li>— Buy a pie</li>
            <li>— Go to next step!</li>
        </ul>
    </div>

    <div class="two">
        <figure>
            <img src="toa-heftiba-239004.jpg" alt="picture of pie by Toa Heftiba | Unsplash">
            <figcaption>Pie image by Toa Heftiba | Unsplash</figcaption>
        </figure>
    </div>

    <div class="three">
        <figure>
            <img src="piechart-ivanlimongan.png" alt="pie chart by ivan limongan">
            <figcaption>Image by Ivan Limongan</figcaption>
        </figure>
    </div>

    <div class="four">
        <h3>Step 2</h3>
        <ul>
            <li>— Go to your computer</li>
            <li>— Open your browser</li>
            <li>— Google the word "chart"</li>
            <li>— Find an image of a chart</li>
            <li>— Combine your chart with your pie</li>
            <li>— Boom, you have a pie chart!</li>
        </ul>
    </div>

    <div class="five">
        <h3>Step 3: Bonus</h3>
        <ul>
            <li>— If you don't like pies. You can use PI instead.</li>
            <li>— Combine your PI with your chart</li>
            <li>— PI Chart achieved, you're done!</li>
        </ul>
    </div>

    <div class="six">
        <figure>
            <img src="pichart-ivanlimongan.png" alt="picture of pi chart by ivan limongan">
            <figcaption>Image by Ivan Limongan</figcaption>
        </figure>
    </div>

    <h2 class="congrats"><span class="red">Congrats, you have a pie/pi chart!</span></h2>

</div>
