<div class="pieWrapper">
    <h2 class="pageHeader">How to make a pie chart</h2>

    <div class="one">
        <h3>Step 1</h3>
    </div>

    <div class="two">
        <img src="toa-heftiba-239004.jpg" alt="picture of pie by Toa Heftiba | Unsplash">
    </div>

    <div class="three">
        <img src="piechart-ivanlimongan.png" alt="pie chart by ivan limongan">
    </div>

    <div class="four">
        <h3>Step 2</h3>
    </div>

    <div class="five">
        <h3>Step 3</h3>
    </div>

    <div class="six">
        <img src="pichart-ivanlimongan.png" alt="picture of pi chart by ivan limongan">
    </div>

    <h2 class="congrats">Congrats, you have a pie chart!</h2>

</div>
