@import '../variables.css';

.pieMain {
    grid-area: content;
}

.pieWrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "content content";
    grid-template-columns: 1fr 1fr;
}